<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <div class="container">

        


        <div class="row">
            <div class="col-md-6" style="
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;">
              <img src="../../assets/img/homepng.png" alt="Hostel Management System" class="img-fluid">
            </div>
            <div class="col-md-6">
              <H1 class="header_one">Hostel Management System </H1>
              <button mat-raised-button color="primary">Login</button>
            </div>
          </div>


    
     
    </div>

    
    

</body>
</html>